@import "tailwindcss";

:root {
  --font-primary: "Inter", sans-serif;
}

body {
  font-family: var(--font-primary);
  background-color: #0e0e10;
  color: #ffffff;
  overflow: hidden;
}

.dark body {
  background-color: #000000;
  color: #ffffff;
}

button {
  @apply px-4 py-2 rounded-md font-semibold shadow-md transition;
}

.btn {
  @apply bg-blue-600 text-white hover:bg-blue-700;
}

.btn-outline {
  @apply border border-blue-600 text-blue-600 hover:bg-blue-600 hover:text-white;
}
